@import 'yeticss'

$gray = #f2f4f6
$shadow = 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
$highlightBlue = #008dba

body
  background-color: $gray
  font-family: 'Roboto', sans-serif

h1,h2,h3,h4,h5,h6
  font-family: 'Roboto', sans-serif

a
  color: darken($gray, 40)

i.highlight
  color: $highlightBlue

#app
  max-width: 700px
  margin: 0px auto
  background-color: white
  min-height: 600px
  border: 1px solid darken($gray, 10%)

div.reviewCard
  border: 1px solid darken($gray, 10%)
  margin-bottom: 20px
  p
    margin: 0
    padding: 35px 35px 20px 35px
    font-size: 12px
    line-height: 18px
  div.review-actions
    border-top: 1px solid darken($gray, 10%)
    padding: 10px 30px 10px 35px
  ul
    margin: 0
    display: inline-block
    float: right
  ul li
    list-style-type: none
    display: inline-block
    margin: 0 10px
    font-size: 20px
    cursor: pointer
  button
    font-size: 10px
    font-weight: bold
    display: inline-block
    text-transform: uppercase
    padding: 6px 8px

h2.deptCard 
  border: 1px solid $gray
  display: inline-block
  font-size: 20px
  padding: 20px
  min-width: 120px
  margin-right: 20px
  a 
    color: black

header#banner
  text-align: center
  padding-top: 30px
  border-bottom: 1px solid $gray
  margin-bottom: 30px

section.results
  margin: 5px 0

section.results h6
  background-color: $gray
  padding: 10px
  margin-bottom: 0
  font-size: 14px

section.results ul
  margin: 0
  padding: 0

section.results ul li
  list-style-type: none
  margin: 0
  border: 1px solid $gray
  font-size: 12px
  margin-bottom: 10px
  padding: 10px

div.search-page input
  font-size: 13px;

div.search-results
  p
    font-size: 13px
    font-style: italic
    color: $highlightBlue
