@import 'yeticss'

$gray = #f2f4f6

body
  border: 10px solid $gray

div.reviewCard
  padding: 20px 0px
  border: 1px solid $gray
  margin-bottom: 20px
  padding: 15px
  p
    margin: 0

h2.deptCard 
  border: 1px solid $gray
  display: inline-block
  font-size: 20px
  padding: 20px
  min-width: 120px
  margin-right: 20px
  a 
    color: black

header#banner
  text-align: center
  padding-top: 30px
  border-bottom: 1px solid $gray
  margin-bottom: 30px

section.results
  margin: 5px 0

section.results h6
  background-color: $gray
  padding: 10px
  margin-bottom: 0

section.results ul
  margin: 0
  padding: 0

section.results ul li
  list-style-type: none
  margin: 0
  border: 1px solid $gray
  font-size: 12px
  margin-bottom: 10px
  padding: 10px
