body {
}
.layout-transparent {
  background: url('../images/nyc.png') center / cover;
}
.site-header {
  padding: 10px;
  min-height: 1em; 
  background-color: white;
  opacity: .9;
  text-align: center;
}
.logo {
  margin: auto;
  width: auto; 
  max-width: 15em;
}
.searchbox {
  width: auto;
  margin: 15em auto auto;
}
.searchbox .mdl-textfield__input,
.searchbox .mdl-textfield__label {
  font-family: 'League Gothic', sans-serif;
  font-size: 3em;
  color: white;
}
.mdl-textfield__label:after {
  background-color: #21CCA5;
}

.tags {
  text-align: center;
  width: auto;
  color: white;
  text-transform: uppercase;
}
.tags h6 {
  font-family: 'League Gothic', sans-serif;
  margin-bottom: .2em;
}
.tags p {
  margin-left: -1.5em;
  line-height: 2.5em;
}
.tags-star {
  color: gold;
  font-size: 1.5em;
}
